html {
    @apply antialiased;
}

.underline--magical {
    background-image: linear-gradient(120deg, #ddd6fe 30%, #a78bfa 70%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
    background-size: 100% 88%;
}
